@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agile Software Engineering Test MVC Application</h1>
    <p>Learn about <a href="http://www.gcfllc.com"> GCF Consulting</a>.</p>
    <p>Execute Generate <a href="Generator">Sequences</a> Example Applications</p>
</div>
